<div class="shareme" id="{{page.date | date: "%s" }}{{page.url | escape | replace: '/', '' | replace: '-', ''}}"></div>
<script>
$('#{{page.date | date: "%s" }}{{page.url | escape | replace: '/', '' | replace: '-', ''}}').sharrre({
  share: {
    googlePlus: true,
    facebook: true,
    twitter: true,
  },
  buttons: {
    googlePlus: {size: 'tall', annotation:'bubble'},
    facebook: {layout: 'box_count'},
    twitter: {count: 'vertical'},
  },
  enableHover: false,
  enableCounter: false,
  enableTracking: true,
  url: '{{ site.production_url }}{{ page.url }}'
});
</script>
<style type="text/css">
  .shareme{
    margin-top:10px;
    float:left;
  }
  .sharrre .button{
    float:left;
    width:60px;
  }
</style>
