<div class="w-100 w-50-m w-third-l pa3 flex">
  <div class="bg-white br2 shadow-1 pa3 flex flex-column w-100" style="min-height:320px;">
    <h3 class="mt0 mb2"><a href="/sailing/{{DATE_ID}}/" class="link dark-gray hover-black">{{TITLE}}</a></h3>
    <div class="f6 gray mb3"><strong>Date:</strong> {{DATE_ISO}}</div>
    <div class="minimap sailing-map" data-gpx-src="/sailing/{{DATE_ID}}/track.gpx" aria-label="Sailing track colored by estimated speed"></div>
    <div class="mt-auto"><a href="/sailing/{{DATE_ID}}/" class="f6 link dim br2 ph3 pv2 mb2 dib white bg-dark-gray">View Details</a></div>
  </div>
</div>
